@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    background-image: url('../images/bg-pattern-top.svg'),url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 48vw bottom 40vh,
        left 45vw top 44vh;
    font-family: 'Kumbh Sans',
        sans-serif;
    background-color: hsl(185deg, 75%, 39%);
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    text-align: center;

}

.card {
    max-width: 400px;
    background-color: #FFF;
    border-radius: 15px;
    overflow: hidden;
    margin: 1rem;
}

.card-title{
    margin:0;
    padding:0;
    
}

.card-title, h2 {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-title, span {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}
.card-img-perfil {
    position: relative;
    top: -50px;
    border-radius: 50px;
    border: 3px solid white;

}

.card-img-banner{
    padding: 0;
    margin:0;
    width: 100%;
}

.container-footer{
    display: flex;
    justify-content:space-between;
    border-top: 1px solid hsla(227, 10%, 46%, 0.2);
    padding: 1rem;
    margin-top: 30px;
}

.item-footer{
    align-items: center;
    width: calc((100% / 3) - 30px);    
    padding:1rem;    
}

.footer-title{
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin-bottom: 5px;
    text-align:center;
}



